* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: small;
}

.navbar {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    margin: 0 24px;
    border-bottom: 1px solid #F2F2F2;
}

.navbar-leftside {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    width: 240px;
    height: 40px;
    border-radius: 30px;
    background-color: #F9F9F9;
    align-items: center;
    justify-content: center;
}

.search-container > input {
    margin-left: 20px;
    border: none;
    background-color: #F9F9F9;
}

textarea:focus, input:focus{
    outline: none;
}

.magnifying-glass {
    font-size: 20px;
}

.logo-container {
    width: 70px;
    height: 30px;
}

.logo {
    height: 80%;
    cursor: pointer;
}

.navbar-rightside {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: flex-end;
}

.write-container {
    display: flex;
    width: 120px;
    align-items: center;
    cursor: pointer;
}

.pen {
    font-size: 25px;
}

.pen-paragraph {
    margin: 10px;
    font-size: 15px;
}

.bell-container {
    display: flex;
    margin-right: 32px;
    align-items: center;
}

.bell {
    font-size: 25px;
    cursor: pointer;
}

.user-logo {
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 5px;
}

.user-logo:hover {
    filter: brightness(80%);
}

.homepage-container {
    max-width: 1336px;
    margin: auto;
    display: block;
}

.homepage {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

main {
    min-width: 728px;
    max-width: 728px;
    flex: 1 1 auto;
}

.space-topbar {
    padding-top: 8px;
}

.topbar-container {
    top: 0;
    z-index: 999;
    position: sticky;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    margin: 0 24px;
    
}

.topbar {
    display: flex;
    width: 680px;
    height: 59px;
    padding-top: 20px;
    align-items:flex-start;
    border-bottom: 1px solid #F2F2F2;
}

.fa-plus {
    margin-top: 3px;
    cursor: pointer;
}

.topbar > p {
    height: 100%;
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

#selected-p {
    border-bottom: 1px solid rgb(36, 36, 36);
    font-weight: 700;
}

.feed-container {
    padding-top: 50px;
}

.article-container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 680px;
}

.author-container {
    display: flex;
    align-items: center;
}

.author-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.author-name {
    margin-left: 8px;
}

.author-date {
    display: flex;
    color: #6B6B6B;
    align-items: center;
    margin-right: 5px;
}

.dot {
    margin: 0px 4px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;
}

.member {
    margin-left: 5px;
    color: #6B6B6B;
    cursor: pointer;
}

.article {
    display: flex;
    margin-top: 12px;
    padding-top: 24px;
    border-bottom: 1px solid #F2F2F2;
}

.feed-title-container {
    cursor: pointer;
    padding-bottom: 8px;
}

.feed-title {
    font-size: 20px;
    font-weight: 700;
}

.feed-description-container {
    overflow: hidden;
    font-size: 16px;
    color: #242424;
    font-weight: 400;
}

.feed-description {
    color: #242424;
    max-height: 48px;
}

.image-feed-container {
    margin-left: 60px;
}

.image-feed {
    width: 112px;
    height: 112px;
    object-fit: cover;
}

.tag-container {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    align-items: center;
}

.tag {
    height: 30px;
    width: 80px;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.right-side {
    display: flex;
    align-items: center;
}

.bookmark-container {
    margin-right: 20px;
}

.fa-bookmark {
    font-size: 16px;
    color: #7F7F7F;
    cursor: pointer;
}

.ellipsis-container {
    margin-right: 0px;
}

.fa-ellipsis {
    font-size: 16px;
    color: #7F7F7F;
    cursor: pointer;
}

.fa-ellipsis:hover {
    font-weight: 800;
    color: #040404;
}

.main-rightside {
    width: 368px;
    min-width: 368px;
    border-left: 1px solid #F2F2F2;
    padding-right: 24px;
}

.rightside-container {
    min-height: 100vh;
}

.twitter-container {
    display: flex;
}

.medium-logo-container {
    width: 50px;
    height: 30px;
}

.medium-logo {
    height: 80%;
}

.twitter-logo-container {
    width: 70px;
    height: 30px;
}
.fa-plus

.twitter-l